.container-fluid {
    padding: 0pt;
    text-align: center;
    font-family: 'Courier','Times New Roman', Times, serif;
}

div {
    padding-bottom: 50px;
}

h2 {
    font-weight: bold;
    margin: 50pt;
    color: red;
}


#myProgress {
    width: 100%;
    background-color: grey;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}